nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0px;
  background-color: rgb(117, 160, 156);
}

li {
  list-style: none;
}
.link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.is-active {
  text-decoration: underline;
}

input + .stars {
  font-size: 40px;
}
